* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease;
}

body {
    background: linear-gradient(136deg, rgba(91, 135, 75, 0.97) 12.91%, rgba(12, 55, 32, 0.87) 87.68%);
    width: 100%;
    min-height: 100vh;
    padding: 20px 300px;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link{
    color: var(--Light, #F8F8FD);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    position: relative;
}

.underline:after{
    content: "";
    width: 0%;
    height: 2px;
    bottom: -3px;
    left: 0px;
    position: absolute;
    background-color: #F8F8FD;
    transition: 0.3s ease;
}

.underline:hover:after{
    width: 100%;
}

.btn-link{
    padding: 10px 20px;
    border-radius: 41px;
    border: 1px solid var(--Light, #F8F8FD);
}

.btn-link:hover{
    opacity: 0.7;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-left{
    width: 50%;
    height: 450px;
    position: relative;
}

.container-left img{
    width: 100%;
    position: absolute;
    bottom: 60px;
    left: -50px;
    animation: moveAbobora 2s infinite alternate ease-in-out;
}

.container-left-info{
    position: absolute;
    bottom: 0px;
    left: 50px;
    padding-right: 20px;
    border-right: 1px solid #a7de93;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 85px;
}

.container-left-info:after{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #a7de93;
    position: absolute;
    right: -6px;
    top: -8px;
}

.container-left-info p:first-child{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 180%;
}

.container-left-info p:last-child{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.container-right{
    margin-top: 30px;
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h2{
    color: var(--Light, #F8F8FD);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-top: 30px;
}

.container-right-info p:first-child{
    color: #FFF;
    font-size: 58px;
    font-weight: 900;
    line-height: 109%;
}

.container-right-info p:last-child{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    margin-top: 20px;
}

.container-actions{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.container-actions button{
    color: var(--Calm-Dark, #303056);
    font-size: 15px;
    font-weight: 600;
    background-image: url('./assets/btn-primary.png');
    background-color: transparent;
    border: none;
    padding: 29px 26px;
    cursor: pointer;
}

.container-actions button:hover{
    opacity: 0.8;
    color: #FFF;
}

.container-actions a{
    display: flex;
    gap: 12px;
    align-items: center;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.container-actions a:hover{
    opacity: 0.8;
}

.btn-ghost{
    display: block;
    margin: 12px auto;
    border: none;
    background-color: transparent;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    background-image: url('./assets/Btn-secondary.png');
    padding: 34px 10px;
    cursor: pointer;
    margin-top: 30px;
}

.btn-ghost:hover{
    opacity: 0.8;
    color: #303056;
}

@keyframes moveAbobora{
    from{
        transform: translate(-5%, -5%) rotate(15deg);
    }
    
    to{
        transform: translate(0, 0) rotate(-15deg);
    }
}

@media (max-width:800px) {
    body{
        padding: 12px 24px;
        overflow-x: hidden;
    }

    nav{
        display: none;
    }

    section{
        flex-direction: column;
    }
    
    h2{
        font-size: 13px;
        text-align: center;
        margin-top: 10px;
    }

    .container-right-info p:first-child{
        font-size: 38px;
        margin-top: 10px;
    }

    .container-right-info p:last-child{
        font-size: 10px;
        width: 360px;
        margin-top: 10px;
    }

    .container-left{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .container-left img{
        width: 80%;
        left: 0;
        margin-top: 10px;
    }

    .container-left-info{
        left: auto;
    }

    .container-right{
        width: 100%;
        text-align: center;
    }

    .container-actions{
        margin-top: 20px;
    }
}